.header {
    width: 100%;
    height: 100px;
    display:flex;
    z-index: 30;
    position: fixed;
    background-size: cover;
    background-position: 50% 0;
    font-family: 'Roboto',sans-serif;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8%;
    border-bottom: 1px solid rgb(78, 76, 76);
    background-color: black;
  }
  .navbar{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }
  .logo img{
    display: block;
    width:120px;
    height:120px;
  }
  .navbar-button{
    border: 2px solid #EFC75E;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    align-items: center;
    .button{
      font-size: medium;
      font-weight: bold;
      font-style:initial;
      color:#EFC75E;
      text-decoration-line: none;
    }
  }
  .navbar-button:hover{
    background-color: #EFC75E;
    .button{
      font-size: medium;
      font-weight: bold;
      font-style:initial;
      text-decoration-line: none;
      color:white;
    }
  }
  .menu-item{ 
    text-align: center;
    margin: 20px;
    padding: 10px;
    align-items: center;
  }
  .item{
    font-size: medium;
    font-weight: bold;
    font-style:initial;
    color: white;
    text-decoration-line: none;
  }
  .item:hover{
    font-size: medium;
    font-weight: bold;
    font-style:initial;
    color:#EFC75E;
    text-decoration-line:none ;
  }
  .slideshow-container {
    width: 100%;
      position: relative;
      margin: auto;
    }
  .banner-text h1{
    font-size: 5em;
    font-family:'Dancing Script', cursive;
    position: absolute;
    height: 10%;
    top: 180px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color:white;
    transition: all 0.5s 0.5s;
  }
  .btn-primary:active{
    background-color: white;
    text-decoration-line: none;
    color:#EFC75E;
    font-weight: bold;
  }
  .wrapper{
    margin: 0;
    padding:0;
    width: 100%;
    text-align: center;
  }
  .section-intro{
    text-align: center;
  }
  .section-intro h1{
    font-weight: 500;
    margin: 30px;
    font-family: 'Dancing Script', cursive;
  }
  .section{
    width: 100%;
    text-align: center;
    padding: 50px;
    align-items: center;
  }
  .section-1-image img{
    border-radius: 20px;
    width: 100%;
    left: 100%;
  }
  .section-1-content{
    border: 2px solid #EFC75E;
    width: 100%;
    padding: 60px;
    margin: 40px 0;
    position: relative;
    left:50px;
    border-radius: 20px;
    text-align: left;
    align-items: center;
  }
  .section-1-content-title{
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    text-align: left;
    font-weight: bold;
  }
  .section-1-content-description{
    font-size: 1em;
    font-family: 'Cormorant Garamond', serif;
    text-align: left;
    font-weight: bold;
  }
  .section-1-content-action a:hover{
    color:grey;
    text-decoration-line: none;
  }
  .section-2-image img{
    border-radius: 20px;
    width: 100%;
    right: 100%;
  }
  .section-2-content{
    border: 2px solid #EFC75E;
    width: 100%;
    padding: 60px;
    margin: 40px 0;
    position:relative;
    right:50px;
    border-radius: 20px;
    text-align: right;
    align-items: center;
  }
  .section-2-content-title{
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    text-align: right;
    font-weight: bold;
  }
  .section-2-content-discription{
    font-size: 1em;
    font-family: 'Cormorant Garamond', serif;
    text-align: right;
    font-weight: bold;
  }
  .section-2-content-action{
    border-radius: 10px;
    width: 30%;
    background-color: #EFC75E;
    margin: 10px 0px;
    text-align: center;
    text-decoration-line: none;
  }
  .section-2-content-action a{
    color:white;
    text-decoration-line: none;
  }
  .section-2-content-action a:hover{
    color:grey;
    text-decoration-line: none;
  }



  .footer{
    background-color: black;
    text-align: center;
  }
  .widget-main{
    text-align: left;
    padding: 10px;
  }
  .widget-title{
    margin: 5px 0;
    font-size: medium;
    color: white;
  }
  .widget-content{
    font-size: 1em;
    font-family:'Times New Roman', Times, serif;
    color: gray;
  }
  .widget-detail ul{
    padding-left: 0px;
    list-style: none;
  }
  .widget-detail ul li a{
    color: gray;
    text-decoration-line: none;
  }
  .widget-detail ul li a:hover{
    font-size: 1em;
    color: whitesmoke;
    text-decoration-line: none;
  }
  span{
    color:gray;
    font-family:'Courier New', Courier, monospace;
  }
  .footer-system img{
    width: 10%;
    height: 10%;
  }
  