@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    ViewData["Title"] = "Nhân viên";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản lý tài chính</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Quản lý tài chính</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            Tài chính list view
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<script type="text/javascript">
    let navlink = document.querySelectorAll(".nav-link");
    navlink.forEach(i => {
        debugger
        if (i.href.includes("@controller")) {
            debugger
            i.classList.add("active");
        } else {
            debugger
            i.classList.remove("active")
        }
    })
</script>