@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    ViewData["Title"] = "Tài chính";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản lý tài chính</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Quản lý tài chính</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="card card-primary card-outline">
            <div class="card-body">
                <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" id="tabHoaDon" data-toggle="pill"
                                data-target="#tabHoaDonContent" role="tab" aria-controls="tabHoaDonContent"
                                aria-selected="true">
                            Hóa đơn
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="tabDoanhThu" data-toggle="pill"
                                data-target="#tabDoanhThuContent" role="tab" aria-controls="tabDoanhThuContent"
                                aria-selected="false">
                            Doanh thu
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="tabContent">
                    <div class="tab-pane fade show active" id="tabHoaDonContent" role="tabpanel"
                         aria-labelledby="tabHoaDon">
                    </div>
                    <div class="tab-pane fade" id="tabDoanhThuContent" role="tabpanel"
                         aria-labelledby="tabDoanhThu">
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-end">
                                <label>Tháng</label>
                                <input type="month" class="ml-2 form-control thangFilter" />
                            </div>
                        </div>

                        <div class="chart">
                            <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<script type="text/javascript">
    var template = "/Template/tpl_taichinh.html"
    var nhanviens = [];
    //set active side menu
    let navlink = document.querySelectorAll(".side-nav-item");
    navlink.forEach(i => {
        if (i.href.includes("@controller")) {
            i.classList.add("active");
        } else {
            i.classList.remove("active")
        }
    })
    //

    //Call server get data
    $(document).ready(function () {
        GetAllNhanVien();
        GetAllHoadon();
        $('#tabHoaDon').on('click', function () {
            GetAllHoadon();
        })
        $('#tabDoanhThu').on('click', function () {
            GetDoanhThu();
        })

        let monthControl = $('.thangFilter');
        let date = new Date()
        let month = ("0" + (date.getMonth() + 1)).slice(-2)
        let year = date.getFullYear()
        monthControl.val(year + "-" + month)

        monthControl.on('change', function () {
            GetDoanhThu();
        })
    });

    function GetDoanhThu() {
        let monthValue = $('.thangFilter').val();
        let nam = monthValue.split('-')[0];
        let thang = monthValue.split('-')[1];

        $.ajax({
            type: "GET",
            data: { nam: nam, thang: thang },
            async: false,
            url: "@Url.Action("DoanhThu", "Taichinh")",
            success: function (res) {
                let dateArr = [];
                let valueArr = [];
                res.data.map(x => {
                    x.ngay = moment(x.ngay).format('DD/MM/YYYY');
                    dateArr.push(x.ngay);
                    valueArr.push(x.tongTien);
                })

                var chartData = {
                    labels: dateArr,
                    datasets: [
                        {
                            label: 'Doanh thu ngày',
                            backgroundColor: 'rgba(60,141,188,0.9)',
                            borderColor: 'rgba(60,141,188,0.8)',
                            pointRadius: false,
                            pointColor: '#3b8bba',
                            pointStrokeColor: 'rgba(60,141,188,1)',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(60,141,188,1)',
                            data: valueArr
                        }
                    ]
                }

                var barChartCanvas = $('#barChart').get(0).getContext('2d')
                var barChartData = $.extend(true, {}, chartData)

                var temp0 = chartData.datasets[0]

                barChartData.datasets[0] = temp0

                var barChartOptions = {
                    responsive: true,
                    maintainAspectRatio: false,
                    datasetFill: false
                }

                new Chart(barChartCanvas, {
                    type: 'bar',
                    data: barChartData,
                    options: barChartOptions
                })
            },
            error: function () { }
        })
    }

    function GetAllHoadon() {
        $.ajax({
            type: "GET",
            async: false,
            url: "@Url.Action("GetAllHoadon", "Taichinh")",
            success: function (res) {
                if (res.success) {
                    res.data.map((x, index) => {
                        x.serialNumber = index + 1;
                        x.ngayThanhToan = moment(x.ngayThanhToan).format("DD/MM/yyyy");
                        x.nhanVien = nhanviens.find(c => c.id == x.maNV).hoTen;
                    })

                    $.Mustache.load(template + '?v=' + Math.random()).done(function () {
                        $('#tabHoaDonContent').html('');
                        $('#tabHoaDonContent').mustache('tpl-hoadon-table', res);
                    });
                }
            },
            error: function () { }
        });
    }

    function GetAllNhanVien() {
        $.ajax({
            type: "GET",
            async: false,
            url: "@Url.Action("GetAll", "Nhanvien")",
            success: function (data) {
                nhanviens = [];
                nhanviens = data.data;
            },
            error: function () {
                nhanviens = [];
            }
        });
    }
</script>