/.vs/ProjectEvaluation/quanlykhachsan.metadata.v7.bin
/.vs/ProjectEvaluation/quanlykhachsan.projects.v7.bin
/.vs/quanlykhachsan/DesignTimeBuild/.dtbcache.v2
/.vs/quanlykhachsan/FileContentIndex/2882df62-d9b5-47ae-a987-ecca0eb05092.vsidx
/.vs/quanlykhachsan/FileContentIndex/914f8a53-f79e-437a-b374-60f005295908.vsidx
/.vs/quanlykhachsan/FileContentIndex/9631ccc6-4c46-40b6-96e1-131aab1c5f56.vsidx
/.vs/quanlykhachsan/FileContentIndex/99c64a64-6d6b-4c31-b25d-0a01ca1057df.vsidx
/.vs/quanlykhachsan/FileContentIndex/bb571b05-0b4b-4e69-9671-ff2fcd5c9fa3.vsidx
/.vs/quanlykhachsan/FileContentIndex/dce1346f-dcf8-4c63-8fd8-e340fabb0351.vsidx
*.vsidx
/.vs/quanlykhachsan/v17/.futdcache.v2
/.vs/quanlykhachsan/v17/.suo
/.vs/quanlykhachsan/v17/fileList.bin

/.vs
/obj
/bin
/obj/Debug/net6.0/quanlykhachsan.csproj.AssemblyReference.cache
/obj/Debug/net6.0/quanlykhachsan.GeneratedMSBuildEditorConfig.editorconfig
