@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "Nhà hàng";
}

@section styles{
    <link href="~/customer/css/NhaHang.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap">
}

<div class="banner">
    <div class="slideshow-container">
        <img src="~/customer/images/NhaHang.png" style="width:100%">
    </div>
    <div class="banner-text">
        <h1>Restaurant & Bar</h1>
    </div>
    <div class="wrapper">
        <div class="section-intro">
            <h1>KHÁM PHÁ NHỮNG HƯƠNG VỊ TINH TẾ</h1>
            <p>Hãy sẵn sàng tham gia một hành trình khám phá ẩm thực với nhà hàng hảo hạng và các đầu bếp khách mời thú vị của chúng tôi. Cho dù bạn đang tìm kiếm, Natcy Hotel có một điều gì đó đặc biệt và độc đáo để khiến bạn hài lòng – một bữa tiệc mãn nhãn.</p>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="section-1-content">
                            <div class="section-1-content-title">Herb & Spices</div>
                            <div class="section-1-content-description">Lấy cảm hứng từ ẩm thực truyền thống châu Á kết hợp với công thức nấu nướng độc đáo, Herb & Spices mang đến cho thực khách những trải nghiệm thú vị trong hương vị ẩm thực Trung Hoa và Buffet Dim Sum hảo hạng.</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="section-1-image">
                            <img src="~/customer/images/NhaHang1.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="section-2-image">
                            <img src="~/customer/images/NhaHang2.png">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="section-2-content">
                            <div class="section-2-content-title">Mermaid</div>
                            <div class="section-2-content-discription">Tiệc buffet hải sản hấp dẫn, nơi bạn sẽ có những hương vị tươi mới từ các loại nguyên liệu chất lượng vào cao cấp từ món Á đến Âu kết hợp cùng các loại rượu vang phòng phú – một địa điểm gặp mặt lý tưởng. Nhà hàng có thực đơn thay đổi thường xuyên để làm nổi bật các nguyên liệu chất lương tốt nhất theo mùa.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="section-1-content">
                        <div class="section-1-content-title">Rare Steakhouse</div>
                        <div class="section-1-content-description">Thưởng thức hương vị truyền thống với phong cách đậm chất Âu trong không gian cổ điển, sang trọng của chúng tôi. Là sự kết hợp giữa các loại rượu vang thượng hạng, ẩm thực đặc sắc sẽ tạo cho quý khách những trải nghiệm đáng nhớ.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="section-1-image">
                        <img src="~/customer/images/NhaHang3.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="section-2-image">
                        <img src="~/customer/images/NhaHang4.png">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="section-2-content">
                        <div class="section-2-content-title">Sky One Bar & Lounge</div>
                        <div class="section-2-content-discription">Sky One Bar & Lounge là quầy bar trên tầng 27 bên cạnh hồ bơi vô cực lớn nhất của thành phố. Đây là nơi mà quý khách sẽ được ngắm nhìn toàn cảnh hoàng hôn của thành phố và tận hưởng làn gió mát từ trên cao.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>