<script type="text/html" id="tpl-phieudatphong-popup">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tencv">Khách hàng</label>
                    <input type="hidden" id="id" name="id">
                    <select name="maKH" class="form-control" id="maKH"></select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tencv">Phòng</label>
                    <select name="maPhong" class="form-control" id="maPhong"></select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tencv">Ngày nhận phòng</label>
                    <input type="text" placeholder="Chọn ngày nhận phòng" name="ngayNhanPhong" class="form-control" id="ngayNhanPhong" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tencv">Ngày trả phòng</label>
                    <input type="text" placeholder="Chọn ngày trả phòng" name="ngayTraPhong" class="form-control" id="ngayTraPhong" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tencv">Tổng tiền</label>
                    <input type="text" name="tongTien" class="form-control" id="tongTien" placeholder="Nhập tổng tiền" />
                </div>
            </div>
        </div>
    </div>
</script>