<script type="text/html" id="tpl-loaiphong-popup">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tencv">Tên</label>
                    <input type="hidden" id="id" name="id">
                    <input type="text" name="tenLP" class="form-control" id="tenLP" placeholder="Nhập tên loại phòng">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tencv">Mô tả</label>
                    <input type="text" name="moTaPhong" class="form-control" id="moTaPhong" placeholder="Nhập mô tả loại phòng">
                </div>
            </div>
        </div>
    </div>
</script>