<script type="text/html" id="tpl-loaiphong-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Tên</th>
                <th>Mô tả</th>
                <th style="display: flex;justify-content: center;">
                    <button class="btnAdd btn btn-primary btn-sm" title="Thêm phòng">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
            <tr data-row-id="{{id}}">
                <td class="cvid" style="display:none">{{id}}</td>
                <td>{{serialNumber}}</td>
                <td class="tenLP">{{tenLP}}</td>
                <td class="moTaPhong">{{moTaPhong}}</td>
                <td width="100px">
                    <button id="edit_{{id}}" class="btnEdit btn btn-info btn-sm" title="Chỉnh sửa loại phòng">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button id="delete_{{id}}" class="btnDelete btn btn-danger btn-sm" title="Xóa loại phòng">
                        <i class="fas fa-times"></i>
                    </button>
                </td>
            </tr>
            {{/data}}
        </tbody>
    </table>
</script>