<script type="text/html" id="tpl-khachhang-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Họ và tên</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>SDT</th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
            <tr data-row-id="{{id}}">
                <td class="id" style="display:none">{{id}}</td>
                <td>{{serialNumber}}</td>
                <td class="hoTen">{{hoTen}}</td>
                <td class="email">{{email}}</td>
                <td class="diaChi">{{diaChi}}</td>
                <td class="sdt">{{sdt}}</td>
                <td width="100px">
                    <button id="edit_{{id}}" class="btnEdit btn btn-info btn-sm" title="Chỉnh sửa chức vụ">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button id="delete_{{id}}" class="btnDelete btn btn-danger btn-sm" title="Xóa chức vụ">
                        <i class="fas fa-times"></i>
                    </button>
                </td>
            </tr>
            {{/data}}
        </tbody>
    </table>
</script>