<script type="text/html" id="tpl-phong-popup">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tencv">Loại phòng</label>
                    <input type="hidden" id="id" name="id">
                    <select name="maLP" class="form-control" id="maLP"></select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tencv">Sức chứa</label>
                    <input type="text" name="sucChua" class="form-control" id="sucChua" placeholder="Nhập số người tối đa">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tencv">Tầng</label>
                    <input type="text" name="tang" class="form-control" id="tang" placeholder="Nhập vị trí tầng">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tencv">Giá phòng</label>
                    <input type="text" name="giaPhong" class="form-control" id="giaPhong" placeholder="Nhập giá phòng">
                </div>
            </div>
        </div>
    </div>
</script>