<script type="text/html" id="tpl-lichdichvu-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Dịch vụ</th>
                <th>Ngày giờ</th>
                <th>Nhiệm vụ</th>
                <th>Địa điểm</th>
                <th>Ghi chú</th>
                <th style="display: flex;justify-content: center;">
                    <button class="btnAdd btn btn-primary btn-sm" title="Thêm phòng">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
            <tr data-row-id="{{id}}">
                <td class="id" style="display:none">{{id}}</td>
                <td>{{serialNumber}}</td>
                <td class="maDV">{{maDV}}</td>
                <td class="ngayGio">{{ngayGio}}</td>
                <td class="nhiemVu">{{nhiemVu}}</td>
                <td class="diaDiem">{{diaDiem}}</td>
                <td class="ghiChu">{{ghiChu}}</td>
                <td width="100px">
                    <button id="edit_{{id}}" class="btnEdit btn btn-info btn-sm" title="Chỉnh sửa chức vụ">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button id="delete_{{id}}" class="btnDelete btn btn-danger btn-sm" title="Xóa chức vụ">
                        <i class="fas fa-times"></i>
                    </button>
                </td>
            </tr>
            {{/data}}
        </tbody>
    </table>
</script>