<script type="text/html" id="tpl-taikhoan-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Tên đăng nhập</th>
                <th>Nhân viên</th>
                <th>Quyền</th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
            <tr data-row-id="{{id}}">
                <td>{{serialNumber}}</td>
                <td class="hoTen">{{tenDangNhap}}</td>
                <td class="ngaySinh">{{nhanVien}}</td>
                <td class="diaChi">{{quyen}}</td>

                <td width="100px">
                    <button id="edit_{{id}}" class="btnEdit btn btn-info btn-sm" title="Chỉnh sửa chức vụ">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button id="delete_{{id}}" class="btnDelete btn btn-danger btn-sm" title="Xóa chức vụ">
                        <i class="fas fa-times"></i>
                    </button>
                </td>
            </tr>
            {{/data}}
        </tbody>
    </table>
</script>