<script type="text/html" id="tpl-phieudatphong-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Khách hàng</th>
                <th>Mã phòng</th>
                <th>Ngày nhận phòng</th>
                <th>Ngày trả phòng</th>
                <th>Tổng tiền</th>
                <th style="display: flex;justify-content: center;">
                    <button class="btnAdd btn btn-primary btn-sm" title="Thêm phòng">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
            <tr data-row-id="{{id}}">
                <td class="cvid" style="display:none">{{id}}</td>
                <td>{{serialNumber}}</td>
                <td class="maKH">{{khachHang}}</td>
                <td class="maPhong">{{phong}}</td>
                <td class="ngayNhanPhong">{{ngayNhanPhong}}</td>
                <td class="ngayTraPhong">{{ngayTraPhong}}</td>
                <td class="tongTien">{{tongTien}}</td>
                <td style="display: flex;justify-content: center;">
                    <button id="edit_{{id}}" class="btnEdit btn btn-info btn-sm" title="Chỉnh sửa chức vụ">
                        <i class="fas fa-edit"></i>
                    </button>
                    <!--<button id="delete_{{id}}" class="btnDelete btn btn-danger btn-sm" title="Xóa chức vụ">
                        <i class="fas fa-times"></i>
                    </button>-->
                </td>
            </tr>
            {{/data}}
        </tbody>
    </table>
</script>